<div class="columns">
  <div class="column is-half">
    <div class="tile is-ancestor is-half is-offset-one-quarter">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="title">
            <i class="fa-solid fa-briefcase"></i>
            Work Experience
          </p>
          <div class="content">
            <h3>Thriva Health - Backend Engineer</h3>
            <p class="has-text-grey">Nov 2021 - Present</p>
            <br>
            <p>Thriva Health is a tech start-up looking to give people control over their health by providing the necessary insights with the help of super awesome finger-prick blood tests that you can do at home!</p>
            <p>I am part of the Experience team. We are responsable for designing and building solutions that better support users to improve their health and allow users to engage on a frequent basis through our web page aswell as our exciting mobile app!</p>
            <hr>
            <h3>Kainos - Fullstack Enginee</h3>
            <p class="has-text-grey">Aug 2019 - Nov 2021</p>
            <br>
            <p>Kainos is a consultancy that mainly operates across the UK to empower buisnesses and government to take on digital opputunities. </p>
            <p>Durring my time at Kainos I was part of two highly agile teams. I had the great opputunity to help with the digitalisation of Company House services aswell as helping them shift towards a more agile attitude to in-house development. I also worked on the post-brexit imports system for DEFRA (Department for Environment, Food and Rural Affairs), which involved building and maintaining a very large projects alongside a number of other teams.</p>
          </div>
        </article>
        <article class="tile is-child notification">
          <div class="content">
            <h3>
              <i class="fa-solid fa-building-columns"></i>
              University of Birmingham
            </h3>
            <p class="has-text-grey">2016 - 2019</p>
            <br>
            <p><strong>2.1 Bachelor of Science (BSc), Computer Science</strong></p>
            <p>Dissertation/final project - "Offline Character-Based Handwriting Recognition with Deep 2D Convolutional Neural Network"</p>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="column is-half">
    <div class="tile is-ancestor is-half is-offset-one-quarter">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="subtitle">
            <i class="fa-regular fa-gem"></i>
            Ruby on Rails
          </p>
          <div class="content">
            I have been working as a Ruby on Rails backend engineer since joining Thriva. This has been my first experience with Ruby, but oh boi do I love it. Definetly feeling much more confident with the language and the framework and starting to get involved with the community.
          </div>
          <progress class="progress is-normal is-danger" value="75" max="100">70%</progress>
        </article>
        <article class="tile is-child notification">
          <p class="subtitle">
            <i class="fa-brands fa-java"></i>
            Java
          </p>
          <div class="content">
            Java is a language I definetly feel comfortable with. I worked with it durring University, and develop and maintained microservices durring my time consulting with Kainos. Java has traditionally been my go-to for coding challenges and interviews. 
          </div>
          <progress class="progress is-normal is-warning" value="70" max="100">60%</progress>
        </article>
        <article class="tile is-child notification">
          <p class="subtitle">
            <i class="fa-brands fa-js"></i>
            Typescript/Javascript
          </p>
          <div class="content">
            I have worked with Javacript and Typescript across my career, but at a more limited scope. As a backend engineer, my focus is usually on the API's, but I do often jump into the frontend to help with investigations, bug fixing aswell as developing small features.
          </div>
          <progress class="progress is-normal is-info" value="50" max="100">60%</progress>
        </article>
        <article class="tile is-child notification">
          <p class="subtitle">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            Some other languages and tools
          </p>
          <div class="content">
            <table>
              <tbody>
                <tr>
                  <td>MySQL</td>
                  <td>Posgresql</td>
                </tr>
                <tr>
                  <td>MongoDB</td>
                  <td>Redis</td>
                </tr>
                <tr>
                  <td>AWS</td>
                  <td>Heroku</td>
                </tr>
                <tr>
                  <td>Git</td>
                  <td>SideKiq</td>
                </tr>
                <tr>
                  <td>RabbitMQ</td>
                  <td>Node.js</td>
                </tr>
              </tbody>
            </table>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>