<section class="section is-small has-text-centered mt-auto" style="background-color: #f5f5f5;">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <p class="has-text-grey">By <strong>Juliano Saunders</strong></p>
      </div>
    </div>
  </div>
</section>
