<div class="content has-text-centered">
  <p>
    By <strong>Juliano Saunders</strong>. The source code is publicly available on
    <a href="https://github.com/akaJSaunders/personal-website">github</a>.
  </p>
</div>
