<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>

      <a href="/hobbies" class="navbar-item">
        Projects
      </a>

      <a href="/cv" class="navbar-item">
        Skills & Career
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <i class="fa-solid fa-bell fa-shake js-modal-trigger" data-target="modal-js-example" style="color:orange"></i>
      </div>
    </div>
  </div>
</nav>