
  <div class="columns is-mobile">
    <div class="column is-pulled-right">
      <div class="fa-3x is-pulled-right">
        <i class="fa-solid fa-bell fa-shake js-modal-trigger" data-target="modal-js-example" style="color:orange"></i>
      </div>
    </div>
  </div>
