<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1><strong>AkaJSaunders.dev</strong></h1> 

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>