<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="notification is-warning is-light">
      <button class="delete"></button>
      <div class="content">
        
        <h1>How was this website build?</h1>
        <p>I work fulltime as a backend engineer so I wanted to come up with something that would be familiar, easy to design with, and extensible for the future. So I decided the following tech stack:</p>
        <ol>
          <li>Server: Node.js</li>
          <li>Language: Typescript</li>
          <li>Render Engine: EJS</li>
          <li>CSS Framework: Bulma</li>
          <li>Icons: Font Awesome</li>
        </ol>  
      </div>
    </div>
  </div>
</div>