<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="notification is-warning is-light">
      <button class="delete"></button>
      <div class="content">
        
        <h1>How was this website build?</h1>
        <p>Tech stack</p>
        <ul>
          <li><strong>Server:</strong> Node.js</li>
          <li><strong>Language:</strong> Typescript</li>
          <li><strong>Template engine:</strong> EJS</li>
          <li><strong>CSS Framework:</strong>
            <a href="https://bulma.io/">Bulma</a>
          </li>
          <li><strong>Icons:</strong>
            <a href="https://fontawesome.com/">Font Awesome</a>
          </li>
        </ul>  
      </div>
    </div>
  </div>
</div>
