
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child box">
        <span class="icon-text">
          <span class="icon">
            <i class="fa-brands fa-medium"></i>
          </span>
          <span>Pinned Medium article</span>
        </span>
        <div><br></div>
        <p class="title"><em>Remove Instagram Reels with this one simple trick!</em></p>
        <div class="content">
          <h1></h1>
          <p><em>In this article, I will go through how to set up Instagram on your IOS or android with no more Reels!</em> 📷</p>
          <a href="https://medium.com/@julianoasaunders/how-to-reels-free-instagram-bbbac4392ed2">Read more...</a>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box">
        <span class="icon-text">
          <span class="icon">
            <i class="fa-brands fa-medium"></i>
          </span>
          <span>Pinned Medium article</span>
        </span>
        <div><br></div>
        <p class="title"><em>New article coming soon...</em></p>
      </div>
    </div>
</div>
