<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Juliano Saunders</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <script src="https://kit.fontawesome.com/d978a55889.js" crossorigin="anonymous"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const openModal = $el => $el.classList.add('is-active');
      const closeModal = $el => $el.classList.remove('is-active');
      const closeAllModals = () => document.querySelectorAll('.modal').forEach(closeModal);

      document.querySelectorAll('.js-modal-trigger').forEach($trigger => {
        const modal = $trigger.dataset.target;
        const $target = document.getElementById(modal);

        $trigger.addEventListener('click', () => openModal($target));
      });

      document.querySelectorAll('.notification .delete').forEach($close => {
        const $target = $close.closest('.modal');
        $close.addEventListener('click', () => closeModal($target));
      });

      document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .notification .delete, .modal-card-foot .button').forEach($close => {
        const $target = $close.closest('.modal');
        $close.addEventListener('click', () => closeModal($target));
      });

      document.addEventListener('keydown', event => {
        const e = event || window.event;
        if (e.keyCode === 27) closeAllModals(); // Escape key
      });
    });
  </script>
  <style>
    body {
      background-color: #f1f1f1;
      font-family: 'Raleway', sans-serif;
    }
    .hero {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
    }
    .subtitle {
      margin-top: 1rem;
      font-weight: bold;
      color: #4a4a4a;
    }
    .footer {
      background-color: #4a4a4a;
      color: #f1f1f1;
      padding: 1rem;
    }
    .footer a {
      color: #f1f1f1;
    }

     /* Media queries */
     @media only screen and (max-width: 768px) {
      /* Adjust styles for devices with a maximum width of 768px */
      .hero {
        padding: 1rem;
      }
    }
    @media only screen and (max-width: 480px) {
      /* Adjust styles for devices with a maximum width of 480px */
      .hero {
        padding: 0.5rem;
      }
      .subtitle {
        margin-top: 0.5rem;
        font-size: 1.25rem;
      }
      .footer {
        padding: 0.5rem;
      }
    }
  </style>
</head>
<body>
  <div class="container hero is-fullheight">
    <%- include('../partials/header.ejs') %>
    <section class="section is-medium">
      <%- include('../partials/introductoryCard.ejs') %>
    </section>
    <%- include('../partials/footer.ejs') %>
  </div>
</body>
</html>
