<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Juliano Saunders</title>
  <meta name="Personal Website" content="">
  <meta name="Juliano Saunders" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <!-- Mobile Specific Metas - Requirement for Bulma
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- We are using Bulma which is installed as a package -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->


</head>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>


  <section class="hero is-info">
    <div class="hero-body">
      <p class="title">
        Juliano Saunders
      </p>
      <p class="subtitle">
        My personal website!
      </p>
    </div>
  </section>

  <section class="section">
    <article class="message is-info is-medium">
      <div class="message-body">
        Oh my, we have a visitor! Nice to meet you, I am <strong>Juliano</strong>. I am a <strong>backend engineer</strong>, currently working in London.
        yes, I know what you must be thinking, "wait a sec...a backend engineer trying to build a website?!", just give me some time and ill have all the colours and buttons sorted for you ;)
      </div>
    </article>
  </section>
</body>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>
